# Machine Learning Project - Data Cleaning

We will focus on credit modelling, a well known data science problem that focuses on modeling a borrower's credit risk. We'll be working with financial lending data from Lending Club, which is a marketplace for personal loans that matches borrowers who are seeking a loan with investors looking to lend money and make a return. The data set contains data for all of the approved and declined loan applications from 2007 to 2011.
The goal is to build machine learning models that reliably predict if a loan will be paid off or not.

In [3]:
import pandas as pd

## Exploring and Cleaning the Data

In [6]:
loans_2007 = pd.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)
half_count = len(loans_2007) / 2
loans_2007 = loans_2007.dropna(thresh = half_count, axis=1)
loans_2007 = loans_2007.drop(['desc'],axis=1)
loans_2007.to_csv('loans_2007.csv', index=False)

In [7]:
loans_2007 = pd.read_csv('loans_2007.csv')

In [8]:
loans_2007.shape

(42538, 53)

In [10]:
loans_2007.drop_duplicates()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,2500.0,2500.000000,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,2400.0,2400.000000,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,3000.0,3000.000000,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
5,5000.0,5000.0,5000.000000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
6,7000.0,7000.0,7000.000000,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
7,3000.0,3000.0,3000.000000,36 months,18.64%,109.43,E,E1,MKC Accounting,9 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
8,5600.0,5600.0,5600.000000,60 months,21.28%,152.39,F,F2,NaN,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
9,5375.0,5375.0,5350.000000,60 months,12.69%,121.45,B,B5,Starbucks,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
10,6500.0,6500.0,6500.000000,60 months,14.65%,153.45,C,C3,Southwest Rural metro,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
11,12000.0,12000.0,12000.000000,36 months,12.69%,402.54,B,B5,UCLA,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
12,9000.0,9000.0,9000.000000,36 months,13.49%,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
13,3000.0,3000.0,3000.000000,36 months,9.91%,96.68,B,B1,Target,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
14,10000.0,10000.0,10000.000000,36 months,10.65%,325.74,B,B2,SFMTA,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
15,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,Internal revenue Service,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
16,10000.0,10000.0,10000.000000,36 months,15.27%,347.98,C,C4,Chin's Restaurant,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
17,3600.0,3600.0,3600.000000,36 months,6.03%,109.57,A,A1,Duracell,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
18,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,Connection Inspection,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
19,9200.0,9200.0,9200.000000,36 months,6.03%,280.01,A,A1,Network Interpreting Service,6 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
20,20250.0,20250.0,19142.161077,60 months,15.27%,484.63,C,C4,Archdiocese of Galveston Houston,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
21,21000.0,21000.0,21000.000000,36 months,12.42%,701.73,B,B4,Osram Sylvania,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
22,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Value Air,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
23,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Wells Fargo Bank,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
24,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,bmg-educational,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
25,15000.0,15000.0,15000.000000,36 months,9.91%,483.38,B,B1,Winfield Pathology Consultants,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
26,15000.0,15000.0,8725.000000,36 months,14.27%,514.64,C,C2,nyc transit,9 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
27,5000.0,5000.0,5000.000000,60 months,16.77%,123.65,D,D2,Frito Lay,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
28,4000.0,4000.0,4000.000000,36 months,11.71%,132.31,B,B3,Shands Hospital at the University of Fl,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
29,8500.0,8500.0,8500.000000,36 months,11.71%,281.15,B,B3,Oakridge homes,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42506,6725.0,6725.0,825.000000,36 months,13.12%,226.98,D,D5,MCHCP,10+ years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42507,2000.0,2000.0,1025.000000,36 months,12.80%,67.20,D,D4,Signs by Tomorrow,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42508,6000.0,6000.0,1200.000000,36 months,13.12%,202.51,D,D5,SUNY- ESF,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42509,5350.0,5350.0,625.000000,36 months,13.12%,180.57,D,D5,Clinton Shop Rite of Hunterdon County,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42510,1900.0,1900.0,900.000000,36 months,9.64%,61.00,B,B4,Scheduall,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42511,10000.0,10000.0,350.000000,36 months,14.70%,345.18,E,E5,GA-PCOM,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42512,2000.0,2000.0,1275.000000,36 months,7.12%,61.87,A,A1,Tzigane Inc,7 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42513,6000.0,6000.0,650.000000,36 months,10.59%,195.28,C,C2,Yale University,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42514,4400.0,4400.0,1400.000000,36 months,9.64%,141.25,B,B4,Brick Township board of education,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42515,1200.0,1200.0,500.000000,36 months,9.01%,38.17,B,B2,Classic Components,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42516,5000.0,5000.0,375.000000,36 months,11.22%,164.23,C,C4,Compensation Solutions,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42517,1400.0,1400.0,475.000000,36 months,10.91%,45.78,C,C3,"Stanford University Libraries, LOCKSS Project",< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42518,1000.0,1000.0,625.000000,36 months,14.07%,34.21,E,E3,Macy's,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42519,5000.0,5000.0,300.000000,36 months,7.75%,156.11,A,A3,Diamond Management and Technology Consultants,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42520,2500.0,2500.0,225.000000,36 months,7.43%,77.69,A,A2,U.S. Bank,9 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42521,3000.0,3000.0,250.000000,36 months,7.43%,93.23,A,A2,NC,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42522,2600.0,2600.0,575.000000,36 months,8.38%,81.94,A,A5,College Pro Painters,3 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42523,1000.0,1000.0,625.000000,36 months,7.12%,30.94,A,A1,Mana Products,6 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42524,1275.0,1275.0,0.000000,36 months,12.49%,42.65,D,D3,Infinitely law group,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42525,6450.0,6450.0,0.000000,36 months,11.22%,211.85,C,C4,Apto Solutions,2 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42526,10500.0,10500.0,275.000000,36 months,11.22%,344.87,C,C4,Town of Plainville,3 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42527,3000.0,3000.0,125.000000,36 months,9.01%,95.42,B,B2,Tanks Tavern,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42528,3000.0,3000.0,0.000000,36 months,9.33%,95.86,B,B3,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42529,2000.0,2000.0,225.000000,36 months,9.96%,64.50,B,B5,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42530,6500.0,6500.0,0.000000,36 months,9.64%,208.66,B,B4,Air Force,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42531,3500.0,3500.0,225.000000,36 months,10.28%,113.39,C,C1,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42532,1000.0,1000.0,0.000000,36 months,9.64%,32.11,B,B4,Halping hands company inc.,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42533,2525.0,2525.0,225.000000,36 months,9.33%,80.69,B,B3,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42534,6500.0,6500.0,0.000000,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42535,5000.0,5000.0,0.000000,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N

In [11]:
loans_2007.shape

(42538, 53)

In [12]:
loans_2007.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N

In [13]:
loans_2007.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'disbursement_method', 'debt_settlement_flag'],
      dtype='object')

## Removing unuseful columns

In [15]:
loans_2007 = loans_2007.drop(["funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d"], axis=1)

In [16]:
loans_2007 = loans_2007.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)

In [17]:
loans_2007 = loans_2007.drop(["total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"], axis=1)

In [18]:
loans_2007.shape

(42538, 35)

In [19]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Fully Paid,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,Fully Paid,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Fully Paid,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N

## Choosing the target column

In [21]:
target = 'loan_status'

In [22]:
loans_2007[target].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

## Preparing target column for Binary Classification

In [25]:
loans_2007.shape

(42538, 35)

In [26]:
loans_2007 = loans_2007[(loans_2007['loan_status'] == "Fully Paid") | (loans_2007['loan_status'] == "Charged Off")]

In [27]:
loans_2007.shape

(39786, 35)

In [28]:
mapping_dict = {
    "loan_status" : {
        "Fully Paid": 1,
        "Charged Off": 0,
    }
}

loans_2007 = loans_2007.replace(mapping_dict)

In [29]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,1,n,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N

## Removing single value columns

In [30]:
single_val_cols = []

cols = loans_2007.columns

for col in cols:
    is_unique = loans_2007[col].dropna().unique()
    if len(is_unique) == 1:
        single_val_cols.append(col)
        
loans_2007 = loans_2007.drop(single_val_cols, axis=1)

In [31]:
loans_2007.shape

(39786, 24)

In [32]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies,debt_settlement_flag
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,credit_card,...,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,Oct-2018,0.0,N
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,car,...,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,Oct-2016,0.0,N
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,small_business,...,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,Jun-2017,0.0,N
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,other,...,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,Apr-2016,0.0,N
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,1,other,...,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,Apr-2018,0.0,N