# Exploring Data with Pandas

We'll be working with data set from Fortune magazine's Global 500 list 2017, which ranks the top 500 corporations worldwide by revenue. The dataset is a CSV file called f500.csv. Here is a data dictionary for some of the columns in the CSV:

- `company` - The Name of the company.
- `rank` - The Global 500 rank for the company.
- `revenues` - The company's total revenues for the fiscal year, in millions of dollars (USD).
- `revenue_change` - The percentage change in revenue between the current and prior fiscal years.
- `profits` - Net income for the fiscal year, in millions of dollars (USD).
- `ceo` - The company's Chief Executive Officer.
- `industry` - The industry in which the company operates.
- `sector` - The sector in which the company operates.
- `previous_rank` - The Global 500 rank for the company for the prior year.
- `country` - The Country in which the company is headquartered.
- `hq_location` - The City and Country, (or City and State for the USA) where the company is headquarted.
- `employees` - Total employees (full-time equivalent, if available) at fiscal year-end.

In [6]:
import pandas as pd
import numpy as np

In [18]:
f500 = pd.read_csv("f500.csv",index_col=0)
f500.index.name = None
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [19]:
fifth_row = f500.iloc[5]

In [20]:
first_three_rows = f500.iloc[:3]

In [21]:
first_seventh_row_slice = f500.iloc[[0,6],0:5]

In [22]:
print(f500.iloc[:5, :3])

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

In [24]:
f500 = pd.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [28]:
sorted_emp = f500.sort_values("employees",ascending=False)
top5_emp = sorted_emp.iloc[0:5]
top5_emp

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
118,China Post Group,119,65605,-5.8,4980.3,1221649,18.7,Li Guohua,"Mail, Package, and Freight Delivery",Transportation,105.0,China,"Beijing, China",http://www.chinapost.com.cn,7,941211,43114
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476

In [29]:
print(top5_emp.iloc[1])

company                     China National Petroleum
rank                                               4
revenues                                      262573
revenue_change                                 -12.3
profits                                       1867.5
assets                                        585619
profit_change                                  -73.7
ceo                                    Zhang Jianhua
industry                          Petroleum Refining
sector                                        Energy
previous_rank                                      3
country                                        China
hq_location                           Beijing, China
website                       http://www.cnpc.com.cn
years_on_global_500_list                          17
employees                                    1512048
total_stockholder_equity                      301893
Name: 3, dtype: object

In [30]:
print(top5_emp.loc[1])

company                                 State Grid
rank                                             2
revenues                                    315199
revenue_change                                -4.4
profits                                     9571.3
assets                                      489838
profit_change                                 -6.2
ceo                                        Kou Wei
industry                                 Utilities
sector                                      Energy
previous_rank                                    2
country                                      China
hq_location                         Beijing, China
website                     http://www.sgcc.com.cn
years_on_global_500_list                        17
employees                                   926067
total_stockholder_equity                    209456
Name: 1, dtype: object

In [32]:
usa_hqs = f500.loc[f500["country"] == "USA", "hq_location"]
print(usa_hqs.head())

0       Bentonville, AR
7             Omaha, NE
8         Cupertino, CA
9            Irving, TX
10    San Francisco, CA
Name: hq_location, dtype: object

In [34]:
is_cali = usa_hqs.str.endswith("CA")
print(is_cali.head())

0     False
7     False
8      True
9     False
10     True
Name: hq_location, dtype: bool

In [37]:
usa = f500.loc[f500["country"] == "USA"]
california = usa[is_cali]
print(california.head(2))

     company  rank  revenues  revenue_change  profits  assets  profit_change  \
8      Apple     9    215639            -7.7  45687.0  321686          -14.4
10  McKesson    11    198533             3.1   5070.0   60969          124.5

                   ceo                     industry       sector  \
8      Timothy D. Cook  Computers, Office Equipment   Technology
10  John H. Hammergren     Wholesalers: Health Care  Wholesalers

    previous_rank country        hq_location                  website  \
8             9.0     USA      Cupertino, CA     http://www.apple.com
10           12.0     USA  San Francisco, CA  http://www.mckesson.com

    years_on_global_500_list  employees  total_stockholder_equity
8                         15     116000                    128249
10                        23      64500                     11095

In [38]:
rev_change_null = f500[f500["revenue_change"].isnull()]
print(rev_change_null[["company","country","sector"]])

                        company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

In [41]:
previously_ranked = f500[f500["previous_rank"].notnull()]
previously_ranked.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [43]:
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
rank_change.head()

0    0.0
1    0.0
2    1.0
3   -1.0
4    3.0
dtype: float64

In [45]:
cols = ["company","revenues","country"]
f500_sel = f500[cols].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [57]:
a = f500_sel["country"] == "China"

In [58]:
b = f500_sel["revenues"] > 265000

In [60]:
f500_sel.loc[a & b,["company","revenues"]]

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

In [64]:
result = f500_sel.loc[(f500_sel["revenues"] > 265000) & (f500_sel["country"] == "China"), ["company", "revenues"]]
result

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

In [66]:
big_rev_neg_profit = f500.loc[(f500["profits"] < 0) & (f500["revenues"] > 100000), :]
big_rev_neg_profit.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532
44,Chevron,45,107567,-18.0,-497.0,260078,-110.8,John S. Watson,Petroleum Refining,Energy,31.0,USA,"San Ramon, CA",http://www.chevron.com,23,55200,145556

In [71]:
tech_outside_usa = f500[(f500["sector"] == "Technology") & ~(f500["country"] == "USA")]
tech_outside_usa.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415

In [73]:
rank_change.head(5)

0    0.0
1    0.0
2    1.0
3   -1.0
4    3.0
dtype: float64

In [74]:
f500["rank_change"] = rank_change

In [75]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

In [77]:
top_employer_by_country = {}
countries = f500["country"].unique()
for c in countries:
    top_employer_by_country[c] = f500[f500["country"] == c].sort_values("employees",ascending=False).iloc[0]["company"]
top_employer_by_country

{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 'Britain': 'Compass Group',
 'Canada': 'George Weston',
 'China': 'China National Petroleum',
 'Denmark': 'Maersk Group',
 'Finland': 'Nokia',
 'France': 'Sodexo',
 'Germany': 'Volkswagen',
 'India': 'State Bank of India',
 'Indonesia': 'Pertamina',
 'Ireland': 'Accenture',
 'Israel': 'Teva Pharmaceutical Industries',
 'Italy': 'Poste Italiane',
 'Japan': 'Toyota Motor',
 'Luxembourg': 'ArcelorMittal',
 'Malaysia': 'Petronas',
 'Mexico': 'America Movil',
 'Netherlands': 'EXOR Group',
 'Norway': 'Statoil',
 'Russia': 'Gazprom',
 'Saudi Arabia': 'SABIC',
 'Singapore': 'Flex',
 'South Korea': 'Samsung Electronics',
 'Spain': 'Banco Santander',
 'Sweden': 'H & M Hennes & Mauritz',
 'Switzerland': 'Nestle',
 'Taiwan': 'Hon Hai Precision Industry',
 'Thailand': 'PTT',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}

In [81]:
f500["roa"] = f500["profits"] / f500["assets"]
top_roa_by_sector = {}
for sector in f500["sector"].unique():
    top_roa_by_sector[sector] = f500[f500["sector"] == sector].sort_values("roa",ascending = False).iloc[0]["company"]
top_roa_by_sector

{'Aerospace & Defense': 'Lockheed Martin',
 'Apparel': 'Nike',
 'Business Services': 'Adecco Group',
 'Chemicals': 'LyondellBasell Industries',
 'Energy': 'National Grid',
 'Engineering & Construction': 'Pacific Construction Group',
 'Financials': 'Berkshire Hathaway',
 'Food & Drug Stores': 'Publix Super Markets',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Health Care': 'Gilead Sciences',
 'Hotels, Restaurants & Leisure': 'McDonalds',
 'Household Products': 'Unilever',
 'Industrials': '3M',
 'Materials': 'CRH',
 'Media': 'Disney',
 'Motor Vehicles & Parts': 'Subaru',
 'Retailing': 'H & M Hennes & Mauritz',
 'Technology': 'Accenture',
 'Telecommunications': 'KDDI',
 'Transportation': 'Delta Air Lines',
 'Wholesalers': 'McKesson'}