# Algorithms

We'll be working with nba, a data set containing the names and ages of National Basketball Association (NBA) players from 2013, along with some statistics.

In [1]:
import pandas as pd

In [3]:
nba = pd.read_csv("nba_2013.csv")

In [4]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

### Finding data in a data set

In [21]:
kobe_position = ""

for index, row in nba.iterrows():
    if row[0] == 'Kobe Bryant':
        kobe_position = row[1]

kobe_position

'SG'

### Modular code to perform Linear Search

In [22]:
def player_age(name):
    for index, row in nba.iterrows():
        if row[0] == name:
            return row[2]
    return -1

In [23]:
allen_age = player_age("Ray Allen")
allen_age

38

In [24]:
durant_age = player_age("Kevin Durant")
durant_age

25

In [25]:
shaq_age = player_age("Shaquille O'Neal")
shaq_age

-1

### Constant time algorithms

In [26]:
# Converting degrees Celcius to degrees Fahrenheit
 
def celcius_to_fahrenheit(degrees):
    step_1 = degrees * 1.8
    step_2 = step_1 + 32
    return step_2

In [34]:
# Reversing a list

def reverse(ls):
    length = len(ls)
    new_list = []
    for i in range(length):
        new_list[i] = ls[length - i]
    return new_list

reversing_a_list_complexity = "Not constant!"

In [30]:
# Printing a blastoff message after a countdown

def blastoff(message):
    count = 10
    for i in range(count):
        print(count - i)
    print(message)

### Some other algorithms

In [31]:
def length(ls):
    count = 0
    for elem in ls:
        count = count + 1
        
length_time_complexity = "linear"

In [32]:
def is_empty_1(ls):
    if length(ls) == 0:
        return True
    else:
        return False
    
is_empty_1_complexity = "linear"

In [33]:
def is_empty_2(ls):
    for element in ls:
        return False
    return True

is_empty_2_complexity = "constant"